<script src="{{ site.baseurl }}/node_modules/reveal.js/js/reveal.js"></script>

		<script>
			// Dynamically load print CSS based on print-pdf query parameter for PDF export functionality
			(function() {
				var link = document.createElement('link');
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = window.location.search.match(/print-pdf/gi) ? 
					'{{ site.baseurl }}/node_modules/reveal.js/css/print/pdf.css' : 
					'{{ site.baseurl }}/node_modules/reveal.js/css/print/paper.css';
				document.head.appendChild(link);
			})();

			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				hash: true,
				dependencies: [
					{ src: '{{ site.baseurl }}/node_modules/reveal.js/plugin/markdown/marked.js', async: true },
					{ src: '{{ site.baseurl }}/node_modules/reveal.js/plugin/markdown/markdown.js', async: true },
					{ src: '{{ site.baseurl }}/node_modules/reveal.js/plugin/highlight/highlight.js', async: true },
					{ src: '{{ site.baseurl }}/node_modules/reveal.js/plugin/notes/notes.js', async: true }
				]
			});
		</script>
